@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "Lexend", sans-serif;
}

p{
  font-size: 15px;
}

.cabeçalho{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  /* margin-top: 150px;
  margin-bottom: 200px; */
  height: 93dvh;
  width: 100%;
  overflow: hidden;
}

.logo-acessibilidade img{
  width: 200px;
  height: 190px;
}

.title-deficiência{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 30pt;
  z-index: 100;
}

.subtitle-deficiência{
  margin-top: 12px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 19pt;
}

.dashed{
  border-top: 2px dashed black; 
  height: 100px; 
  width: auto;
  margin: auto;
}

.highlight{
  background-color: #e8d6a3;
  padding: 2px;
}

.green{
  background-color: #bddba0;
  padding: 50px;
  justify-content: center;
  display: flex;
}

.white-left{
  background: #f2f2f2;
  padding: 40px;
  position: relative;
  width: 500px;
  height: fit-content;
  font-size: 16pt;
  margin-right: 700px;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.white-left:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  margin-top: -25px;
  background: #f2f2f2;
  -webkit-transform: rotate(45deg);
}

.age-left{
  background-color: #2d4710;
  position: absolute;
  top: 0px;
  right: 0px;
  width:fit-content;
  height: 35px;
  color: #f2f2f2;
  text-align: center;
  border: 5px solid #2d4710;
  white-space: nowrap;
  padding: 0 20px;
}

.yellow{
  background-color: #e8d6a3;
  padding: 50px;
  justify-content: center;
  display: flex;
}

.white-right{
  background: #f2f2f2;
  padding: 40px;
  position: relative;
  width: 500px;
  height: fit-content;
  font-size: 16pt;
  margin-left: 700px;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.white-right:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10px;
  margin-top: -25px;
  background: #f2f2f2;
  -webkit-transform: rotate(45deg);
}

.age-right{
  background-color: #2d4710;
  position: absolute;
  top: 0px;
  left: 0px;
  width:fit-content;
  height: 35px;
  color: #f2f2f2;
  text-align: center;
  border: 5px solid #2d4710;
  white-space: nowrap;
  padding: 0 20px;
}

.marker{
  position: absolute;
  margin-left: -20px;
}

.circle-left{
  position: absolute;
  background-color: #707070;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 20px;
  right: 50%;
  transform: translateX(50%);
}

.circle-right{
  position: absolute;
  background-color: #707070;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.line{
  position: absolute;
  background-color: #112426;
  width: 2px;
  left: 50%;
  transform: translateX(-50%);
}

nav .nav-link{
  background-color: #112426;
}

nav .logo img{
  background-color: #112426;
  padding: 10px;
}

.material-icons {
  color: aliceblue;
}

footer{
  background-color: #bddba0;
  padding: 10rem 0;
}

.paused {
  /* animation-play-state: paused; */
}

.display-none{
  /* display: none; */
}

/* .animate__backInRight,
.animate__backInLeft{
  animation-delay: .2s;
} */

/* body{
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

.slideIn{
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0.39, 0.59, 1.5);
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

.slideOut{
  animation-name: slideOut;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0.39, 0.59, 1.5);
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

.content-main{
  width: 100%;
  overflow: hidden;
}


@keyframes slideIn {
  from {
      transform: translateX(500px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut{
  from {
      transform: translateX(-500px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

main{
  margin: 0;
  padding: 0;
}




.nav-nav{
  width: 95dvw;
  margin: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100000;
}

.nav-content{
  /* border:1px solid red; */
}

.nav-ul{
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  /* border: 1px solid red; */
  margin: auto;
}

.nav-ul a{
  width: 19%;
  max-width: 189px;
  text-align: center;
  font-size: 10pt;
  text-decoration: none;
  color: #f2f2f2;
}


.nav-li{
  min-width: 19%;
  height: 60px;
  margin-right: 1%;
  background-color: #2d4710;
  padding:  5px 5px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.active{
  background-color: #f2f2f2;
  color: #2d4710;
  font-weight: bolder;
  box-shadow: 0 5px 6px -4px black, inset 0 6px 8px -3px #ffffff;;
}

.nav-li p{
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-main{
  border-top: 2px dashed black;
}





