@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  background-color: #f2f2f2;
  font-family: "Lexend", sans-serif;
}

.cabeçalho{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* margin-top: 150px;
  margin-bottom: 200px; */
  height: 90dvh;
  width: 100%;
  overflow: hidden;
}

.logo-acessibilidade img{
  width: 200px;
  height: 190px;
}

.title-deficiência{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 33pt;
  z-index: 100;
}

.subtitle-deficiência{
  margin-top: 50px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 19pt;
}

.dashed{
  border-top: 2px dashed black; 
  height: 100px; 
  width: auto;
  margin: auto;
}

.highlight{
  background-color: #e8d6a3;
  padding: 2px;
}

.green{
  background-color: #bddba0;
  padding: 50px;
  justify-content: center;
  display: flex;
}

.white-left{
  background: #f2f2f2;
  padding: 40px;
  position: relative;
  width: 500px;
  height: fit-content;
  font-size: 16pt;
  margin-right: 700px;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.white-left:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  margin-top: -25px;
  background: #f2f2f2;
  -webkit-transform: rotate(45deg);
}

.age-left{
  background-color: #2d4710;
  position: absolute;
  top: 0px;
  right: 0px;
  width:fit-content;
  height: 35px;
  color: #f2f2f2;
  text-align: center;
  border: 5px solid #2d4710;
  white-space: nowrap;
  padding: 0 20px;
}

.yellow{
  background-color: #e8d6a3;
  padding: 50px;
  justify-content: center;
  display: flex;
}

.white-right{
  background: #f2f2f2;
  padding: 40px;
  position: relative;
  width: 500px;
  height: fit-content;
  font-size: 16pt;
  margin-left: 700px;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.white-right:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10px;
  margin-top: -25px;
  background: #f2f2f2;
  -webkit-transform: rotate(45deg);
}

.age-right{
  background-color: #2d4710;
  position: absolute;
  top: 0px;
  left: 0px;
  width:fit-content;
  height: 35px;
  color: #f2f2f2;
  text-align: center;
  border: 5px solid #2d4710;
  white-space: nowrap;
  padding: 0 20px;
}

.marker{
  position: absolute;
  margin-left: -20px;
}

.circle-left{
  position: absolute;
  background-color: #707070;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 20px;
  right: 50%;
  transform: translateX(50%);
}

.circle-right{
  position: absolute;
  background-color: #707070;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.line{
  position: absolute;
  background-color: #112426;
  width: 2px;
  left: 50%;
  transform: translateX(-50%);
}

nav .nav-link{
  background-color: #112426;
}

nav .logo img{
  background-color: #112426;
  padding: 10px;
}

.material-icons {
  color: aliceblue;
}

footer{
  background-color: #bddba0;
  padding: 10rem 0;
}

.paused {
  /* animation-play-state: paused; */
}

.display-none{
  /* display: none; */
}

/* .animate__backInRight,
.animate__backInLeft{
  animation-delay: .2s;
} */

/* body{
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

.slideIn{
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.04,.59,.59,1.17);
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

.slideOut{
  animation-name: slideOut;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.04,.59,.59,1.17);
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

.content-main{
  width: 100%;
  overflow: hidden;
}


@keyframes slideIn {
  from {
      transform: translateX(500px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut{
  from {
      transform: translateX(-500px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

main{
  margin: 0;
  padding: 0;
}

.nav-container{
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100000000;
  background-color: #f2f2f2e9;
}

.ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 2px dashed black;
  margin: 0;
}

.teste{
  padding: 10px;
  font-size: 1.5rem;
  width: 100px;
  text-align: center;
  letter-spacing: -3px;
  line-height: 0.9;
}

.teste:hover{
  background-color: #2d4710;
  color: #f2f2f2;
}

.layout {
  width: 80%;
  background: #f2f2f200;
  margin: 20px auto;
  position: relative;
  border-bottom: 2px dashed black;
}
#menu-slider-container {
	width: 100%;
	overflow: hidden;
  position: relative;
}
#menu-slider {
  list-style-type: none;
	position: relative;
  margin: 0px;
  padding: 0px;
}
.menu-slider-link {
	display: inline-block;
	width: 15px;
	height: 15px;
  border-radius: 50%;
  background: #2d4710;
  color: #fff;
  padding: 10px;
  text-align: center;
	margin: 0 50px;
  transform: translateY(40px);
  position: relative;
}

#menu-slider-prev, #menu-slider-next {
  position: absolute;
  /* background: #ccc; */
  padding: 10px;
  top: 0px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}
#menu-slider-prev {
  left: -30px;
}
#menu-slider-next {
  right: -30px;
}


#menu-slider li {
	float: left;
  position: relative;
  height: 50px;
}

#menu-slider li:hover{
  filter: brightness(2);
}


#menu-slider li::before{
  position: absolute;
  top: 10px;
  left: 30px;
}
#menu-slider li:nth-child(1)::before {
  content: "3.500 a.C.";
} 
#menu-slider li:nth-child(2)::before{
  content: "600 a.C.";
} 
#menu-slider li:nth-child(3)::before{
  content: "530 a.C.";
}
#menu-slider li:nth-child(4)::before{
  content: "529 a.C.";
}
#menu-slider li:nth-child(5)::before{
  content: "360 a.C.";
}
#menu-slider li:nth-child(6)::before{
  content: "343 a.C.";
}
#menu-slider li:nth-child(7)::before{
  content: "16 a.C.";
}
#menu-slider li:nth-child(8)::before{
  content: "330";
  left: 45px;
}
#menu-slider li:nth-child(9)::before{
  content: "354";
  left: 45px;
}
#menu-slider li:nth-child(10)::before{
  content: "600";
  left: 45px;
}
#menu-slider li:nth-child(11)::before{
  content: "1201";
  left: 45px;
}