/* @media (max-width: 991px) { */
@media (min-width: 1200px){
    .subtitle-deficiência {
        font-size: 20pt;
        border-bottom: 2px dashed;
    }
}

@media (max-height: 735px) {
    
}

@media (max-width: 1200px) {

    .content-img {
        display: none;
    }

    p{
        /* color: red; */
        /* font-size: 15pt; */
    }

    .nav-ul{
        transform: translateX(-10px);
        margin-top: 10px;
    }
    
    .nav-ul a{
        font-size: 8pt;
    }

    .main{
        padding: 0 !important;
    }

    .subtitle-deficiência {
        width: 100%;
        margin: 50px auto;
        font-size: 13pt;
        border-bottom: 2px dashed black;
        text-align: center;
    }
    .content-info .content-title-p{
        font-size: 13pt;
      }
    .cabeçalho {
        height: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top:0;
        margin-bottom: 0;
    }

    .logo-acessibilidade{
        display: flex;
        justify-content: center;
        margin: 0;
        flex-direction: column;
        gap: 0;
    }

    .logo-acessibilidade img{
        width: 150px;
        margin: 1rem 0;
    }

    .content-title .title-deficiência{
        text-align: center;
        font-size: 30pt;
    }

    .content-title-p {
        padding: 0 20px;
        text-align: justify;
        margin: 20px 0 35px 0;
    }

    .content-title-p.animate__animated.animate__backInUp {
        border: 2px dashed;
        padding: 12px 19px 0px;
    }

    .line,
    .circle-right{
        left: 10%;
    }

    .circle-left{
        right: 90%;
    }

    .white-left,
    .white-right {
        margin: 0 0 0 40px;
        left: 0;
    }

    .white-left:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -10px;
        margin-top: -25px;
        background: #f2f2f2;
        -webkit-transform: rotate(45deg);
    }

    .white-right:before,
    .white-left:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: -10px;
        margin-top: -25px;
        background: #f2f2f2;
        -webkit-transform: rotate(45deg);
    }

    .white-left p,
    .white-right p{
        font-size: 12pt;
    }

    .nav-li{
        height: 60px;
        margin-right: 5%;
        padding:  0;
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .nav-li p{
        margin: 0;
        font-size: 9pt;
      }


}

