/* @media (max-width: 991px) { */
@media (min-width: 1200px){
    .subtitle-deficiência {
        font-size: 26pt;
        border-bottom: 2px dashed;
    }
}

@media (max-width: 1200px) {
    .main{
        padding: 0 !important;
    }

    .subtitle-deficiência {
        width: 304px;
        margin: 50px auto;
        font-size: 11pt;
        border-bottom: 2px dashed black;
        text-align: center;
    }

    .cabeçalho {
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top:0;
        margin-bottom: 0;
    }

    .logo-acessibilidade{
        display: flex;
        justify-content: center;
    }

    .logo-acessibilidade img{
        width: 150px;
        margin: 2rem 0;
    }

    .content-title .title-deficiência{
        text-align: center;
        font-size: 30pt;
    }

    .line,
    .circle-right{
        left: 10%;
    }

    .circle-left{
        right: 90%;
    }

    .white-left,
    .white-right {
        margin: 0 0 0 40px;
        left: 0;
    }

    .white-left:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -10px;
        margin-top: -25px;
        background: #f2f2f2;
        -webkit-transform: rotate(45deg);
    }

    .white-right:before,
    .white-left:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: -10px;
        margin-top: -25px;
        background: #f2f2f2;
        -webkit-transform: rotate(45deg);
    }

    .white-left p,
    .white-right p{
        font-size: 12pt;
    }


}

